

*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--font-cuerpo);
    line-height: 1.6;
    color: var(--color-texto);

    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas{
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

::root{
    --font-titulo: "Playfair Display", serif;
    --font-cuerpo: "inter", sans-serif;

    --fs-h1: 3.5rem;
    --fs-h2: 2rem;
    --fs-h3: 1.3rem;
    --fs-body: 1rem;


    --color-principal: #1e3a5f;
    --color-secundario: #2c5364;
    --color-acento: #c8a227;
    --color-claro: #f8fafc;
    --color-texto: #1f2937;
}

/*Jerarquia TipoGrafica*/

h1, h2, h3{
    font-family: var(--font-titulo);
}


h1{
    font-size: var(--fs-h1);
    line-height: 1.1;
}

h2{
    font-size: var(--fs-h2);
    margin-bottom: 1rem;
}

h3{
    font-size: var(--fs-h3);
    margin-bottom: 0.5rem;
}

p{
    font-size: var(--fs-body);
}

/*Hero + Overlay*/

.hero{
    min-height: 70vh;
    background: linear-gradient(
        rgba(0,0,0,0.55),
        rgba(0,0,0,0.55)
    ),
    url("img/fondo.webp")
    center / cover
    no-repeat;
    display: flex;
    align-items: center;
    color: white;
    padding: 3rem 8%;
}

.hero-contenido{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.foto-perfil{
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid white;
}

.etiqueta{
    color: #facc15;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.descripcion{
    max-width: 600px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.1rem;
}

.boton{
    display: inline-block;
    padding: 0.9rem 1.5rem;
    background: var(--color-acento);
    color: white;
    border-radius: 6px;
    font-weight: 600;
}

.seccion{
    max-width: 1100px;
    margin: auto;
    padding: 5rem 8%;
}

.seccion > p{
    max-width: 700px;
}

/*Proyectos fallback con flexbox*/
.seccion-proyectos{
    max-width: none;
    background: var(--color-claro);
}

.seccion-proyectos > h2, .proyectos{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

/*Flexbox*/
.proyectos{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.proyecto{
    flex: 1 1  288px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}

.proyecto img{
    width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
}

.proyecto-contenido{
    padding: 1.5rem;
}

footer{
    padding: 2rem;
    text-align: center;
    background: var(--color-principal);
    color: white;
}